.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data_processing/compute___data_splits.nb.html
data_processing/compute___base_data_regions.nb.html
data_processing/compute___modeling_data.nb.html
associational XGBOOST/model___training_xgb_base_regressor.nb.html
associational XGBOOST/model___training_xgb_classifier.nb.html
associational XGBOOST/model___training_xgb_truncated_regressor.nb.html
adjusted SCM/adj_scm_testing_xgb_classifier.nb.html
adjusted SCM/adj_scm_training_base_reg.nb.html
adjusted SCM/adj_scm_training_trunc_reg.nb.html
adjusted SCM/adj_scm_training_xgb_classifier.nb.html
adjusted SCM/adj_scm_hurdle_testing.nb.html
adjusted SCM/adj_scm_sanity_check.nb.html
data/phl_admbnda_adm3_psa_namria_20200529.shp
data_processing/compute___melor15___CF___data.nb.html
data_processing/compute___municipality_clusters.nb.html
adjusted SCM/adj_scm_counterfactual.nb.html
unadjusted SCM/uadj_scm_training_xgb_classifier.nb.html
unadjusted SCM/unadj_scm_testing_xgb_classifier.nb.html
unadjusted SCM/unadj_scm_hurdle_testing.nb.html
unadjusted SCM/unadj_scm_training_trunc_reg.nb.html
unadjusted SCM/undj_scm_training_base_reg.nb.html
unadjusted SCM/unadj_scm_counterfactual.nb.html
adjusted SCM/adj_scm_base_hazard_parents_train_test.nb.html
adjusted SCM/adj_scm_hazard_parents.nb.html
adjusted SCM/adj_scm_trunc_hazard_parents_train_test.nb.html
associational XGBOOST/model___hurdle_testing.nb.html
associational XGBOOST/ass_counterfactual_testing.nb.html
unadjusted SCM/unadj_scm_base_hazard_parents_training_testing.nb.html
unadjusted SCM/unadj_scm_hazard_parents_training_testing.nb.html
unadjusted SCM/unadj_scm_trunc_hazard_parents_training_testing.nb.html
unadjusted SCM/unadj_scm_training_xgb_classifier.nb.html
adjusted SCM/adj_scm_counterfactual.html
adjusted SCM/adj_scm_counterfactual.html
adjusted SCM/adj_scm_counterfactual.html
adjusted SCM/adj_scm_counterfactual.html
hurdle comparisons/counterfactual_comparisons.nb.html
ass_counterfactual_testing2.nb.html
data_processing/compute___melor15___CF___data2.nb.html
data_processing/compute_municipality_clusters2.nb.html
